{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="form" style="max-width: 20%">
            {{ form(form) }}
        </div>
    {% endif %}
    <hr>
    Category: <em>{{ post.category }}</em>
    <hr>
    <img src="{{ '/uploads/' ~ post.image }}" alt="" style="max-width: 50%">
{% endblock %}